.hud .title {
    position:absolute;
    width:120px;
    top: 246px;
    left: 28px;
    font-size:29px;
    text-align: center;
    color:#1d1d1b;
    font-family: levelFont;
}

#inGame_menu #sound{
    display:block;
    position:absolute;
    margin:0;
    width:33px;
    height:26px;
    top:20px;
    right:70px;
    background-image: url("sound.png");
}

#inGame_menu #backToMenu{
    display:block;
    position:absolute;
    margin:0;
    width:18px;
    height:23px;
    top:20px;
    right:40px;
    background-image: url("backToMenu.png");
}

.yellow{
    color: #d1b300;
}

.score {
    font-family: secondaryFont;
    font-size:25px;
    position:absolute;
    display:inline-block;
    text-align: right;
    color:white;
    right: 33px;
    top: 126px;
}

.timer {
    font-family: secondaryFont;
    font-size:25px;
    position:absolute;
    display:inline-block;
    text-align: right;
    color:white;
    right: 33px;
    top: 43px;
}

.hud{
    z-index: 2;
}

#frontSand{
    z-index: 100;
    display:block;
    position:absolute;
    margin:0;
    background-image: url("front-sand.png");
    background-position-y: bottom;
    width: 1026px;
    height: 135px;
    bottom: 0px;
    pointer-events: none;
}

.hud_top {
    display:block;
    position:absolute;
    margin:0;
    width:176px;
    height:300px;
    top:316px;
    /*when upper => top:64px*/
    left:70px;
    background-image: url("hud-top.png");
}

.hud_bottom{
    display:block;
    position:absolute;
    margin:0;
    width:176px;
    height:136px;
    bottom:50px;
    left:70px;
    background-image: url("hud-bot.png");
}

#kb_container .kb_item{
    display: block;
    position: absolute;
    margin: 0;
    width: 64px;
    height: 64px;
    background-image: url("../data/lock4.png");
    transform: scale(0.5);
}
#kb_container  #kb_1{
    bottom: 180px;
    left: 126px;
}
#kb_container  #kb_2{
    bottom: 220px;
    left: 126px;
}

#halo{
    display:block;
    position:absolute;
    margin:0;
    width: 100px;
    height: 240px;
    top: 346px;
    left: 105px;
    background: white;
    -moz-border-radius: 50px / 100px;
    -webkit-border-radius: 50px / 100px;
    border-radius: 50px / 100px;
    filter: blur(20px);
}

#shuffle_button{
    display:block;
    position: absolute;
    margin:0;
    width:144px ;
    height: 76px;
    bottom: 21px;
    left: 16px;
    background-image: url("button-unpushed.png");
    -webkit-transition: background-image: 1s; 
    transition: background-image: 1s;
    cursor: pointer!important;
}

#shuffle_button:hover{
    background-image: url("button-unpushed-hover.png");
}

#shuffle_button:active{
    background-image: url("button-pushed.png");
}

.slideRight{
    animation-name: slideRight;
    -webkit-animation-name: slideRight;

    animation-duration: 1s;
    -webkit-animation-duration: 1s;

    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;

    visibility: visible !important;
}

@keyframes slideRight {
    0% {
        transform: translateX(-150%);
    }
    50%{
        transform: translateX(8%);
    }
    65%{
        transform: translateX(-4%);
    }
    80%{
        transform: translateX(4%);
    }
    95%{
        transform: translateX(-2%);
    }
    100% {
        transform: translateX(0%);
    }
}

@-webkit-keyframes slideRight {
    0% {
        -webkit-transform: translateX(-150%);
    }
    50%{
        -webkit-transform: translateX(8%);
    }
    65%{
        -webkit-transform: translateX(-4%);
    }
    80%{
        -webkit-transform: translateX(4%);
    }
    95%{
        -webkit-transform: translateX(-2%);
    }
    100% {
        -webkit-transform: translateX(0%);
    }
}
